<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Open a contact</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="content">
  <mat-form-field class="example-form-field">
    <input matInput
           type="tel"
           placeholder="Phone number"
           [(ngModel)]="phonenumber">
    <button mat-button
            *ngIf="phonenumber"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="phonenumber=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-icon-button
          [disabled]="!phonenumber"
          color="primary"
          aria-label="Send"
          (click)="startMessage()">
    <mat-icon aria-label="send">send</mat-icon>
  </button>
</mat-card>
